.search-form:not(.media-toolbar-primary) input[type=submit] {
  background-color: #222222;
}

.blog-post .section-blog-info .entry-categories span {
  background-color: #222222;
}

#submit.btn.btn-primary.pull-right {
  background-color: #222222;
}

.blog-post.blog-post-wrapper {
  background-color: #E0E1E4;
}

.page-header.header-small .container .hestia-title {
  color: #e0e1e4;
}

.wpforms-title {
  color: #222222;
}

#wpforms-submit-575.wpforms-submit {
  background-color: #222222;
}

/* Set up the animation */
@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}